.background-midnight-blue {
    background-color: midnightblue !important;
}

.background-yellow {
    background-color: rgb(219, 219, 92) !important;
}

.background-orange {
    background-color: rgb(254, 165, 48) !important;
}

.background-red {
    background-color: rgb(131, 27, 27) !important;
}

.background-pink {
    background-color: rgb(252, 49, 157) !important;
}

.background-orchid {
    background-color: orchid !important;
}

.background-purple {
    background-color: rgb(134, 75, 252) !important;
}

.background-lightblue {
    background-color: rgb(80, 205, 255) !important;
}

.background-cyan {
    background-color: rgb(0, 255, 255) !important;
}

.background-green {
    background-color: rgb(0, 150, 56) !important;
}
