.background-yellow {
    background-color: yellow !important;
}

.background-orange {
    background-color: orange !important;
}

.background-red {
    background-color: red !important;
}

.background-darkred {
    background-color: darkred !important;
}

.background-purple {
    background-color: purple !important;
}

.background-navy {
    background-color: navy !important;
}

.background-lightblue {
    background-color: lightblue !important;
}

.background-cyan {
    background-color: cyan !important;
}

.background-green {
    background-color: green !important;
}
