.border-yellow {
    border-color: yellow !important;
}

.border-orange {
    border-color: orange !important;
}

.border-red {
    border-color: red !important;
}

.border-darkred {
    border-color: darkred !important;
}

.border-purple {
    border-color: purple !important;
}

.border-blue {
    border-color: blue !important;
}

.border-navy {
    border-color: navy !important;
}

.border-lightblue {
    border-color: lightblue !important;
}

.border-cyan {
    border-color: cyan !important;
}

.border-green {
    border-color: green !important;
}
