.border-yellow {
    border-color: rgb(219, 219, 92) !important;
}

.border-orange {
    border-color: rgb(254, 165, 48) !important;
}

.border-red {
    border-color: rgb(150, 0, 0) !important;
}

.border-pink {
    border-color: rgb(252, 49, 157) !important;
}

.border-orchid {
    border-color: rgb(86, 1, 112) !important;
}

.border-purple {
    border-color: rgb(134, 75, 252) !important;
}

.border-lightblue {
    border-color: rgb(1, 104, 173) !important;
}

.border-cyan {
    border-color: rgb(0, 255, 255) !important;
}

.border-green {
    border-color: rgb(1, 78, 33) !important;
}
